<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sum</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="'Hello, your sum is ' + ${sum} + '!'" />
	<p><a href="/sumForm">Try again</a></p>
</body>
</html>